<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDECVz29FfnuslpGEZKXTEgBiQ6kdSy6Ro</string>
	<key>GCM_SENDER_ID</key>
	<string>755628758342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SmartWalletWise.angel</string>
	<key>PROJECT_ID</key>
	<string>smart-wallet-wise</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-wallet-wise.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755628758342:ios:bba27991971091f6fb8147</string>
</dict>
</plist>